.container-fluid {
	width: 100%;
}

.row {
	margin-left: auto;
	margin-right: auto;
}

.kbd {
	background: #e4f54b;
	min-height: 14%;
	min-width: 10%;
	margin-top: 5px;
	min-width: 10%;
}

.kbd-lg {
	min-width: 100%;
	min-height: 100%;
	margin-top: 5px;
	font-size: 20px;
}

.kbd-sel {
	min-width: 13%;
	margin-top: 5px;
	font-size: 20px;
	margin: 2px;
}

.btn.kbd span {
	font-size: 14px;
}

.kbd_calculator {
	background: teal;
	min-height: 100px;
	min-width: 100px;
	margin-top: 5px;
	border: 2px solid #e4f54b;
	color: white;
	font-size: 40px;
}

.kbd_digit_sm {
	font-size: 20px;
}

.btn-primary.kbd {
	border: 2px solid #e4f54b;
	color: #008000;
	margin: 2px;
}

.btn-primary.kbd:hover, .btn-primary.kbd:focus, .btn-primary.kbd:active,
	.btn-primary.kbd.active, .open>.dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}

.btn-primary.kbd:active, .btn-primary.kbd.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase>p>.btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.ticket_panel {
	margin-top: 5px;
	font-size: 20px;
}

#ticket_body {
	margin-top: 5px;
	overflow: auto;
	font-size: 20px;
}


.ticket_item_selected {
	background: #CEF6F5;
}

.ticket_item_deleted {
	text-decoration: line-through;
}

.sale-resume {
	font-size: 25px;
}

.tooltip {
	font-size: 30px;
}

#nom-clavier-div {
	font-size: 30px;
	align: center;
	border: 2px solid #e4f54b;
	color: #008000;
	background: #e4f54b;
	border: 2px solid #e4f54b
}

/* calculator */
#calc_result {
	min-height: 45px;
	text-align: right;
	font-size: 25px;
	letter-spacing: 7px;
}

#kbd-close-sale {
	min-height: 75px;
	min-width: 75px;
	font-size: 30px;
	color: white;
}

#kbd_delete {
	background: aqua;
}

#kbd_equal {
	background: lightGreen;
	min-width: 205px;
}

.btn.kbd_modal {
	background: teal;
	min-height: 75px;
	min-width: 75px;
	margin-top: 5px;
	border: 2px solid #e4f54b;
	color: white;
	font-size: 40px;
}