<div class="documentPart">
	<div class="bloc">
		<div id="title" style="margin-right: 20px">
			<a href="#"><img src="images/home.png" alt="Le Dagobert - la sandwicherie d'Arlon" /> </a>
		</div>
		<div id="title">
			<img src="images/dagoTitle.png" alt="Le Dagobert - la sandwicherie d'Arlon" />
		</div>
	</div>
</div>
<div class="documentPart">
	<div class="abox">
		<h1>Sandwiches</h1>
		<a href="dagoSandwichArlonMenu.html?initPage=0"
			title="Sélectionner pour afficher la liste des produits et des prix"><img src="images/sandwich.png"
				alt="Sandwiches" width="289" height="178" />
		</a>
	</div>
	<div class="abox">
		<h1>Panini</h1>
		<a href="dagoSandwichArlonMenu.html?initPage=9"
			title="Sélectionner pour afficher la liste des produits et des prix"><img src="images/panini.png"
				alt="Panini" width="289" height="178" /> </a>
	</div>
	<div class="abox">
		<h1>Salades</h1>
		<a href="dagoSandwichArlonMenu.html?initPage=12"
			title="Sélectionner pour afficher la liste des produits et des prix"><img src="images/salade.png"
				alt="Salades" width="289" height="178" /> </a>
	</div>
</div>
<div class="documentPart">

	<div class="bloc">
		<BR /> Sélectionnez une photo pour accéder à notre bibliothèque de
		délices.<a href="dagoSandwichArlonMenu.html"
			title="Sélectionner pour afficher la liste des produits et des prix">(ou
			cliquez ici)</a> <BR />
	</div>
</div>
<div class="documentPart">
	<div class="bloc">
		<div class="footer">
			<ul>
				<li><a href="dagoSandwichArlonContact.html">Contacts et
						informations.</a></li>
				<li><a href="dagoSandwichArlonOrigin.html">Le&nbsp;dagobert.</a>
				</li>
				<li><a href="dagoSandwichArlonArtistes.html">Nos&nbsp;amis&nbsp;artistes.</a>
				</li>
			</ul>
		</div>
		<details>
			<summary>
				Copyright &copy; <a href="dagoSandwichArlonEmailWebmaster.html">Panidel</a>
				-2017.
			</summary>
		</details>
	</div>
</div>
<div class="documentPart">
	<div class="bloc" align="center">
		<img src="images/edenred.png" alt="chèque repas edenred" hspace="5" style="height: 30px; border: 5px;"><img
			src="images/monizze.png" alt="chèque repas monizze" hspace="5" style="height: 30px; border: 5px;"><img
			src="images/visa.jpg" alt="visa" hspace="5" style="height: 30px; border: 5px;"><img
			src="images/bancontact.jpg" alt="bancontact" hspace="5" style="height: 30px; border: 5px;"><img
			src="images/maestro.gif" alt="maestro" hspace="5" style="height: 30px; border: 5px;"><img
			src="images/mastercard.gif" alt="mastercard" hspace="5" style="height: 30px; border: 5px;"><img
			src="images/americanExpress.png" alt="american express" hspace="5" style="height: 30px; border: 5px;">
	</div>
</div>