<div class="row" *ngIf="product">
	<div class="imageColumn"><img *ngIf="product.image" style="height: 12px"
			src="../../assets/images/product-specificity/{{product.image}}.png">
	</div>
	<div class="productColumn">{{product.name}}</div>
	<div class="normalPriceColumn">{{product.normal}}</div>
	<div *ngIf="product.geant" class="geantPriceColumn">{{product.geant}}</div>
</div>
<div class="row" *ngIf="product && product.afficheDetail">
	<div class="description">{{product.afficheDetail}}</div>
</div>
<mat-divider></mat-divider>