* {
  box-sizing: border-box;
}

.row {
  display: flex;
  font-family: 'Arial';
  color: darksalmon;
  font-size: 12px;
}

.imageColumn {
  flex: 5%;
}

.productColumn {
  flex: 75%;
}

.normalPriceColumn {
  flex: 10%;
  text-align: center;
}

.geantPriceColumn {
  flex: 10%;
  font-size: 70%;
  text-align: center;
}

.description {
  font-family: 'Arial';
  color: cadetblue;
}
