<mat-tab-group dynamicHeight mat-align-tabs="center">

  <mat-tab label="Sandwiches Classiques, Traditions">

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutAlign="center">

      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">

        <app-header-on-menu-as-book-on-web title="" hasGeant="true"></app-header-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="NUTELLA"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="DAGO"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="DAGOPIQUANT"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="DAGOFUME"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="DAGOFUMEPIQUANT"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="USAEPICE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="USADOUX"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="MARTINO"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PATECREME"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="JAMBON"></app-product-on-menu-as-book-on-web>

      </div>

      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">

        <app-header-on-menu-as-book-on-web title="" hasGeant="true"></app-header-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="EMMENTHAL"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="FROMAGE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="JAMBONFROMAGE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="JAMBONFUME"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SAUCISSON"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CHORIZO"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PHILADELPHIA"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="VEGETARIEN"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="VEGETARIEN2"></app-product-on-menu-as-book-on-web>

      </div>

      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">

        <app-header-on-menu-as-book-on-web title="" hasGeant="true"></app-header-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALADVIAND"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="JAMBONPOIR"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PITA"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PITAPIQUANT"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="KEBAB"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="KEBABPIQUANT"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALADVIAND"></app-product-on-menu-as-book-on-web>

      </div>

    </div>

  </mat-tab>

  <mat-tab label="Sandwiches découverte">

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutAlign="center">

      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">

        <app-header-on-menu-as-book-on-web title="Sandwiches côté poulet" hasGeant="true">
        </app-header-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="POULETCURRY"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="POULETMAYO"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="POULETMEXIC"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="POULETHAWAI"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="POULETANDALOU"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="POULETPIQ"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="POULETMOUT"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="POULETNAPO"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="POULETPOIVRE"></app-product-on-menu-as-book-on-web>

      </div>

      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">

        <app-header-on-menu-as-book-on-web title="Sandwiches côté mer" hasGeant="true">
        </app-header-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="THONMAYO"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="THONPIQ"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="THONCOCK"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="THONCOCKPIQ"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CLUBNICOIS"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CRABE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CRABEEXOTIQUE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CREVETROSE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CREVETDIAB"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CREVETCOCK"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SCAMPIAIL"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SCAMPIPIQ"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CREVETGRISE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SAUMONFUME"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="NORDIQUE"></app-product-on-menu-as-book-on-web>

      </div>

      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">


        <app-header-on-menu-as-book-on-web title="Délices de chèvre" hasGeant="true">
        </app-header-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CLUBFETA"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CLUBMOZZA"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CHEVREMIEL"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CHEVRERAISIN"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CHEVREMIELRAISIN"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CHEVREBACON"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CHEVRESUD"></app-product-on-menu-as-book-on-web>

      </div>

    </div>

  </mat-tab>

  <mat-tab label="Sandwiches spécialités">

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutAlign="center">

      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">

        <app-header-on-menu-as-book-on-web title="" hasGeant="true"></app-header-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CLUBEXOTIQUE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PCAESAR"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="ROTIMOUTARDE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CLUBBOULETTE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="ROSBIF"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="ROSBIFPARMESAN"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="ROSBIFMIELMOUTARDE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="OMELETTE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CROQUANT"></app-product-on-menu-as-book-on-web>

      </div>

      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">

        <app-header-on-menu-as-book-on-web title="Spécialités Italiennes" hasGeant="true">
        </app-header-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="MEDITERRANEEN"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="TARTAREITALIEN"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="TARTAREITALIEN2"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="LEPARMA1"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="LEPARMA2"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="LEPARMA3"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PARMA4"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="NAPOLI"></app-product-on-menu-as-book-on-web>

      </div>

      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">

        <app-header-on-menu-as-book-on-web title="Spécialités Italiennes" hasGeant="true">
        </app-header-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PHILAPARME"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PHILAPARME2"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="TOMATMOZZA"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="TOMATMOZZA2"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="FILETPOULET"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CLUBITALIENNE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CLUBDAGO"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="CLUBPOULETGRILLE"></app-product-on-menu-as-book-on-web>

      </div>

    </div>

  </mat-tab>

  <mat-tab label="Salades">

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutAlign="center">

      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">

        <app-product-on-menu-as-book-on-web productCode="SAL3FROM"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SAL7CRUDITES"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALCHEVREBACON"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALCHEVREMIEL"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALCHEVRERAISIN"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALCHINOISE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALCLUBMOZZA"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALCREVROSE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALFERMIERE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALGOURM"></app-product-on-menu-as-book-on-web>

      </div>

      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">

        <app-product-on-menu-as-book-on-web productCode="SALGREC"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALHAWAY"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALITALIENNE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALLOUISIANE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALMEXICAINE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALMOZZA"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALNICOISE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALPARMA"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALPATEJAMB"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALPATFRUITMER"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALPELEMELE"></app-product-on-menu-as-book-on-web>

      </div>

      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">

        <app-product-on-menu-as-book-on-web productCode="SALPOMTERRE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALPRINTANIERE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALSAUMFUME"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALTABOULE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALTABOULEPOULET"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALTHON"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALTHONPECHE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="SALTHONPECHPIQ"></app-product-on-menu-as-book-on-web>

      </div>

    </div>

  </mat-tab>

  <mat-tab label="Panini">

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutAlign="center">

      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">

        <app-product-on-menu-as-book-on-web productCode="PANCROQUE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANCROQUANT"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANHAWAI"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANROMANA"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANBOLO"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANBOLOPIQ"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PAN4FROM"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANVEGETARIEN"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANTHON"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANPOULET"></app-product-on-menu-as-book-on-web>

      </div>

      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">

        <app-product-on-menu-as-book-on-web productCode="PANEXOTIQUE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANJAMBON"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANCHORIZO"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANTOMATEMOZZA"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANCHINOIS"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANCHEEZEBURG"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANITALIEN"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANCHEVREMIEL"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANNAPOLI"></app-product-on-menu-as-book-on-web>

      </div>

      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">

        <app-product-on-menu-as-book-on-web productCode="PANNORDIQUE"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANPARMA"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANPARMA1"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANPARMA2"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANPARMA3"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANPARMA4"></app-product-on-menu-as-book-on-web>
        <app-product-on-menu-as-book-on-web productCode="PANPHILAPARME"></app-product-on-menu-as-book-on-web>

      </div>

    </div>

  </mat-tab>

</mat-tab-group>