<!-- <marquee behavior="scroll" direction="up"> -->
<div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">
      <app-screen-menu-header title="" hasGeant="true"></app-screen-menu-header>
      <app-screen-menu-product productCode="NUTELLA"></app-screen-menu-product>
      <app-screen-menu-product productCode="JAMBON"></app-screen-menu-product>
      <app-screen-menu-product productCode="FROMAGE"></app-screen-menu-product>
      <app-screen-menu-product productCode="PHILADELPHIA"></app-screen-menu-product>
      <app-screen-menu-product productCode="VEGETARIEN"></app-screen-menu-product>
      <app-screen-menu-product productCode="VEGETARIEN2"></app-screen-menu-product>
      <app-screen-menu-product productCode="DAGO"></app-screen-menu-product>
      <app-screen-menu-product productCode="DAGOPIQUANT"></app-screen-menu-product>
      <app-screen-menu-product productCode="DAGOFUME"></app-screen-menu-product>
      <app-screen-menu-product productCode="DAGOFUMEPIQUANT"></app-screen-menu-product>
      <app-screen-menu-product productCode="JAMBONFROMAGE"></app-screen-menu-product>
      <app-screen-menu-product productCode="JAMBONFUME"></app-screen-menu-product>
      <app-screen-menu-product productCode="SAUCISSON"></app-screen-menu-product>
      <app-screen-menu-product productCode="CHORIZO"></app-screen-menu-product>
    </div>
    <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">
      <app-screen-menu-header title="" hasGeant="true"></app-screen-menu-header>
      <app-screen-menu-product productCode="USAEPICE"></app-screen-menu-product>
      <app-screen-menu-product productCode="USADOUX"></app-screen-menu-product>
      <app-screen-menu-product productCode="MARTINO"></app-screen-menu-product>
      <app-screen-menu-product productCode="SALADVIAND"></app-screen-menu-product>
      <app-screen-menu-product productCode="JAMBONPOIR"></app-screen-menu-product>
      <app-screen-menu-product productCode="PITA"></app-screen-menu-product>
      <app-screen-menu-product productCode="PITAPIQUANT"></app-screen-menu-product>
      <app-screen-menu-product productCode="KEBAB"></app-screen-menu-product>
      <app-screen-menu-product productCode="KEBABPIQUANT"></app-screen-menu-product>
      <app-screen-menu-product productCode="POULETCURRY"></app-screen-menu-product>
      <app-screen-menu-product productCode="POULETMAYO"></app-screen-menu-product>
      <app-screen-menu-product productCode="POULETMEXIC"></app-screen-menu-product>
      <app-screen-menu-product productCode="POULETHAWAI"></app-screen-menu-product>
      <app-screen-menu-product productCode="POULETANDALOU"></app-screen-menu-product>
      <app-screen-menu-product productCode="POULETPIQ"></app-screen-menu-product>
    </div>
    <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">
      <h1>
        <font color="antiquewhite">
          <p>Nos Dagos à toutes les sauces</p>
        </font>
      </h1>
      <h3>
        <font color="antiquewhite">
          <p>Dago piquant</p>
          <p>Dago exotique</p>
          <p>Dago andalouse</p>
          <p>Dago poivre</p>
          <p>Dago brasil</p>
        </font>
      </h3>
    </div>
    <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">
      <h1>
        <font color="antiquewhite">
          <p>Nos Croquants à toutes les sauces</p>
        </font>
      </h1>
      <h3>
        <font color="antiquewhite">
          <p>Croquant maison</p>
          <p>Croquant piquant</p>
          <p>Croquant exotique</p>
          <p>Croquant andalouse</p>
          <p>Croquant poivre</p>
          <p>Croquant brasil</p>
          <p>Croquant tartare</p>
          <p>Croquant à l'italienne</p>
          <p>Panini Croquant</p>
          <p>Salade Croquante</p>
        </font>
      </h3>
    </div>
    <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">
      <app-screen-menu-header title="Côté mer" hasGeant="true">
      </app-screen-menu-header>
      <app-screen-menu-product productCode="THONMAYO"></app-screen-menu-product>
      <app-screen-menu-product productCode="THONPIQ"></app-screen-menu-product>
      <app-screen-menu-product productCode="THONCOCK"></app-screen-menu-product>
      <app-screen-menu-product productCode="THONCOCKPIQ"></app-screen-menu-product>
      <app-screen-menu-product productCode="CRABE"></app-screen-menu-product>
      <app-screen-menu-product productCode="CRABEEXOTIQUE"></app-screen-menu-product>
      <app-screen-menu-product productCode="CREVETROSE"></app-screen-menu-product>
      <app-screen-menu-product productCode="CREVETDIAB"></app-screen-menu-product>
      <app-screen-menu-product productCode="CREVETCOCK"></app-screen-menu-product>
      <app-screen-menu-product productCode="CREVETGRISE"></app-screen-menu-product>
      <app-screen-menu-product productCode="SCAMPIAIL"></app-screen-menu-product>
      <app-screen-menu-product productCode="SCAMPIPIQ"></app-screen-menu-product>
      <app-screen-menu-product productCode="SAUMONFUME"></app-screen-menu-product>
      <app-screen-menu-product productCode="NORDIQUE"></app-screen-menu-product>
    </div>
    <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">
      <app-screen-menu-header title="Délices de chèvre" hasGeant="true">
      </app-screen-menu-header>
      <app-screen-menu-product productCode="CHEVREMIEL"></app-screen-menu-product>
      <app-screen-menu-product productCode="CHEVRERAISIN"></app-screen-menu-product>
      <app-screen-menu-product productCode="CHEVREMIELRAISIN"></app-screen-menu-product>
      <app-screen-menu-product productCode="CHEVREBACON"></app-screen-menu-product>
      <app-screen-menu-product productCode="CHEVRESUD"></app-screen-menu-product>
      <app-screen-menu-header title="" hasGeant="true">
      </app-screen-menu-header>
      <app-screen-menu-product productCode="CLUBFETA"></app-screen-menu-product>
      <app-screen-menu-product productCode="CLUBMOZZA"></app-screen-menu-product>
      <app-screen-menu-product productCode="CLUBNICOIS"></app-screen-menu-product>
    </div>
  </div>
</div>
<div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">
      <app-screen-menu-header title="" hasGeant="true"></app-screen-menu-header>
      <app-screen-menu-product productCode="FILETPOULET"></app-screen-menu-product>
      <app-screen-menu-product productCode="CLUBDAGO"></app-screen-menu-product>
      <app-screen-menu-product productCode="CLUBBOULETTE"></app-screen-menu-product>
      <app-screen-menu-product productCode="CLUBEXOTIQUE"></app-screen-menu-product>
      <app-screen-menu-product productCode="CLUBPOULETGRILLE"></app-screen-menu-product>
      <app-screen-menu-product productCode="PCAESAR"></app-screen-menu-product>
      <app-screen-menu-product productCode="ROTIMOUTARDE"></app-screen-menu-product>
      <app-screen-menu-product productCode="ROSBIF"></app-screen-menu-product>
      <app-screen-menu-product productCode="ROSBIFPARMESAN"></app-screen-menu-product>
      <app-screen-menu-product productCode="ROSBIFMIELMOUTARDE"></app-screen-menu-product>
      <app-screen-menu-product productCode="OMELETTE"></app-screen-menu-product>
    </div>
    <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">
      <app-screen-menu-header title="Spécialités Italiennes" hasGeant="true">
      </app-screen-menu-header>
      <app-screen-menu-product productCode="LEPARMA1"></app-screen-menu-product>
      <app-screen-menu-product productCode="LEPARMA2"></app-screen-menu-product>
      <app-screen-menu-product productCode="LEPARMA3"></app-screen-menu-product>
      <app-screen-menu-product productCode="PARMA4"></app-screen-menu-product>
      <app-screen-menu-product productCode="MEDITERRANEEN"></app-screen-menu-product>
      <app-screen-menu-product productCode="NAPOLI"></app-screen-menu-product>
      <app-screen-menu-product productCode="TARTAREITALIEN"></app-screen-menu-product>
      <app-screen-menu-product productCode="TARTAREITALIEN2"></app-screen-menu-product>
    </div>
    <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">
      <app-screen-menu-header title="Spécialités Italiennes" hasGeant="true">
      </app-screen-menu-header>
      <app-screen-menu-product productCode="CLUBITALIENNE"></app-screen-menu-product>
      <app-screen-menu-product productCode="PHILAPARME"></app-screen-menu-product>
      <app-screen-menu-product productCode="PHILAPARME2"></app-screen-menu-product>
      <app-screen-menu-product productCode="CHEVRESUD"></app-screen-menu-product>
      <app-screen-menu-product productCode="TOMATMOZZA"></app-screen-menu-product>
      <app-screen-menu-product productCode="TOMATMOZZA2"></app-screen-menu-product>
      <app-screen-menu-product productCode="CLUBMOZZA"></app-screen-menu-product>
    </div>
  </div>
  <div>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutAlign="center">
      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">
        <app-screen-menu-product productCode="SAL7CRUDITES"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALPRINTANIERE"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALFERMIERE"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALLOUISIANE"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALHAWAY"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALCHEVREBACON"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALCHEVREMIEL"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALCHEVRERAISIN"></app-screen-menu-product>
      </div>
      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">
        <app-screen-menu-header title="Salades à l'Italienne et du Sud" hasGeant="false">
        </app-screen-menu-header>
        <app-screen-menu-product productCode="SALITALIENNE"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALPARMA"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALMOZZA"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALCLUBMOZZA"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALGREC"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALNICOISE"></app-screen-menu-product>
      </div>
      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">
        <app-screen-menu-product productCode="SALGOURM"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALSAUMFUME"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALTHON"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALTHONPECHE"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALPOMTERRE"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALPATEJAMB"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALPATFRUITMER"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALTABOULE"></app-screen-menu-product>
        <app-screen-menu-product productCode="SALTABOULEPOULET"></app-screen-menu-product>
      </div>
      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">
        <app-screen-menu-product productCode="PANCROQUE"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANHAWAI"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANROMANA"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANBOLO"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANBOLOPIQ"></app-screen-menu-product>
        <app-screen-menu-product productCode="PAN4FROM"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANCHORIZO"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANCHEEZEBURG"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANCROQUANT"></app-screen-menu-product>
      </div>
      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">
        <app-screen-menu-product productCode="PANPOULET"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANEXOTIQUE"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANCHINOIS"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANJAMBON"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANNORDIQUE"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANCHEVREMIEL"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANTOMATEMOZZA"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANTHON"></app-screen-menu-product>
      </div>
      <div fxFlex="50%" fxFlex.gt-sm="25%" class="menu-part-box mat-elevation-z4">
        <app-screen-menu-product productCode="PANITALIEN"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANVEGETARIEN"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANPARMA"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANPARMA1"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANPARMA2"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANPARMA3"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANPARMA4"></app-screen-menu-product>
        <app-screen-menu-product productCode="PANNAPOLI"></app-screen-menu-product>
      </div>
    </div>
  </div>
</div>