.menu-part-box {
  align-items: center;
  justify-content: center;
  background-color: black;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  width: 280px;
}

.menu-part-box {
  height: 350px;
  fxFlex: 50%;
  fxFlex.gt-sm: 25%;
}
