.menu-part-box {
  align-items: center;
  justify-content: center;
  background-color: black;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  width: 280px;
}


.infoHeader {
  font-family: 'Calibri';
  color: white;
  font-size: 18px;
  text-align: center;
}

.info {
  font-family: 'Calibri';
  color: white;
  font-size: 16px;
  line-height: 50%;
  text-align: center;
}
