<app-row-producttitle-on-screen title="Spécialités Italiennes" hasGeant="true"></app-row-producttitle-on-screen>
<app-row-producttitle-on-screen title="Tous nos sandwhiches en spécialité Italienne peuvent être déclinés en salade" hasGeant="true"></app-row-producttitle-on-screen>
<app-row-product-on-screen productCode="LEPARMA1"></app-row-product-on-screen>
<app-row-product-on-screen productCode="LEPARMA2"></app-row-product-on-screen>
<app-row-product-on-screen productCode="LEPARMA3"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PARMA4"></app-row-product-on-screen>
<app-row-product-on-screen productCode="NAPOLI"></app-row-product-on-screen>
<app-row-product-on-screen productCode="MEDITERRANEEN"></app-row-product-on-screen>
<app-row-product-on-screen productCode="TARTAREITALIEN"></app-row-product-on-screen>
<app-row-product-on-screen productCode="TARTAREITALIEN2"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CLUBMOZZA"></app-row-product-on-screen>

<app-row-producttitle-on-screen title="Salades" hasGeant="false"></app-row-producttitle-on-screen>
<app-row-product-on-screen productCode="SALITALIENNE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALNICOISE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALCLUBMOZZA"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALMOZZA"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALGREC"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SAL3FROM"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SAL7CRUDITES"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALCHEVREBACON"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALCHEVREMIEL"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALCHEVRERAISIN"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALCHINOISE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALCREVROSE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALFERMIERE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALPRINTANIERE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALGOURM"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALSAUMFUME"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALTHONPECHE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALHAWAY"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALLOUISIANE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALPATEJAMB"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALPATFRUITMER"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALPOMTERRE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALTABOULE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALTABOULEPOULET"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALPATEPOULET"></app-row-product-on-screen>

