<app-row-producttitle-on-screen title="Paninis" hasGeant="false"></app-row-producttitle-on-screen>
<app-row-product-on-screen productCode="PANCROQUE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANHAWAI"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANROMANA"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANBOLO"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANBOLOPIQ"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PAN4FROM"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANVEGETARIEN"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANPOULET"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANCHINOIS"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANCHEEZEBURG"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANEXOTIQUE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANCROQUANT"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANJAMBON"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANCHORIZO"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANTOMATEMOZZA"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANITALIEN"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANPARMA1"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANPARMA2"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANPARMA3"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANPARMA4"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANNAPOLI"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANPARMA"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANCHEVREMIEL"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANNORDIQUE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANTHON"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PANMEDITERA"></app-row-product-on-screen>