.centerInLine {
  text-align: center;
}

.menu-part-box {
  display: inline-block;
  color: green;
  background-color: bisque;
  margin: 10px;
  padding: 6px;
}

.dagobert {
  font: bold 25px arial, sans-serif;
  padding-right: 3px;
}

.sandwicherie {
  font: italic 20px Georgia, serif;
  padding-left: 3px;
}
