<app-row-producttitle-on-screen title="Sandwiches côté mer" hasGeant="true"></app-row-producttitle-on-screen>
<app-row-product-on-screen productCode="THONMAYO"></app-row-product-on-screen>
<app-row-product-on-screen productCode="THONPIQ"></app-row-product-on-screen>
<app-row-product-on-screen productCode="THONCOCK"></app-row-product-on-screen>
<app-row-product-on-screen productCode="THONCOCKPIQ"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CLUBNICOIS"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CRABE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CRABEEXOTIQUE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CREVETROSE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CREVETDIAB"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CREVETCOCK"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SCAMPIAIL"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SCAMPIPIQ"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CREVETGRISE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SAUMONFUME"></app-row-product-on-screen>
<app-row-product-on-screen productCode="NORDIQUE"></app-row-product-on-screen>

<app-row-producttitle-on-screen title="Délices de chèvre" hasGeant="true"></app-row-producttitle-on-screen>
<app-row-product-on-screen productCode="CLUBFETA"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CLUBMOZZA"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CHEVREMIEL"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CHEVRERAISIN"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CHEVREMIELRAISIN"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CHEVREBACON"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CHEVRESUD"></app-row-product-on-screen>

<app-row-producttitle-on-screen title="Spécialités" hasGeant="true"></app-row-producttitle-on-screen>
<app-row-product-on-screen productCode="CLUBEXOTIQUE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PCAESAR"></app-row-product-on-screen>
<app-row-product-on-screen productCode="ROTIMOUTARDE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CLUBBOULETTE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="ROSBIF"></app-row-product-on-screen>
<app-row-product-on-screen productCode="ROSBIFPARMESAN"></app-row-product-on-screen>
<app-row-product-on-screen productCode="ROSBIFMIELMOUTARDE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="OMELETTE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CROQUANT"></app-row-product-on-screen>

