<app-row-producttitle-on-screen title="Sandwiches Classiques, Traditions" hasGeant="true">
</app-row-producttitle-on-screen>

<app-row-product-on-screen productCode="NUTELLA"></app-row-product-on-screen>
<app-row-product-on-screen productCode="DAGO"></app-row-product-on-screen>
<app-row-product-on-screen productCode="DAGOPIQUANT"></app-row-product-on-screen>
<app-row-product-on-screen productCode="DAGOFUME"></app-row-product-on-screen>
<app-row-product-on-screen productCode="DAGOFUMEPIQUANT"></app-row-product-on-screen>
<app-row-product-on-screen productCode="USAEPICE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="USADOUX"></app-row-product-on-screen>
<app-row-product-on-screen productCode="MARTINO"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PATECREME"></app-row-product-on-screen>
<app-row-product-on-screen productCode="JAMBON"></app-row-product-on-screen>
<app-row-product-on-screen productCode="EMMENTHAL"></app-row-product-on-screen>
<app-row-product-on-screen productCode="FROMAGE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="JAMBONFROMAGE"></app-row-product-on-screen>
<app-row-product-on-screen productCode="JAMBONFUME"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SAUCISSON"></app-row-product-on-screen>
<app-row-product-on-screen productCode="CHORIZO"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PHILADELPHIA"></app-row-product-on-screen>
<app-row-product-on-screen productCode="VEGETARIEN"></app-row-product-on-screen>
<app-row-product-on-screen productCode="VEGETARIEN2"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALADVIAND"></app-row-product-on-screen>
<app-row-product-on-screen productCode="JAMBONPOIR"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PITA"></app-row-product-on-screen>
<app-row-product-on-screen productCode="PITAPIQUANT"></app-row-product-on-screen>
<app-row-product-on-screen productCode="KEBAB"></app-row-product-on-screen>
<app-row-product-on-screen productCode="KEBABPIQUANT"></app-row-product-on-screen>
<app-row-product-on-screen productCode="SALADVIAND"></app-row-product-on-screen>

<app-row-producttitle-on-screen title="Sandwiches côté poulet" hasGeant="true"></app-row-producttitle-on-screen>
<app-row-product-on-screen productCode="POULETCURRY"></app-row-product-on-screen>
<app-row-product-on-screen productCode="POULETMAYO"></app-row-product-on-screen>
<app-row-product-on-screen productCode="POULETMEXIC"></app-row-product-on-screen>
<app-row-product-on-screen productCode="POULETHAWAI"></app-row-product-on-screen>
<app-row-product-on-screen productCode="POULETANDALOU"></app-row-product-on-screen>
<app-row-product-on-screen productCode="POULETPIQ"></app-row-product-on-screen>
<app-row-product-on-screen productCode="POULETMOUT"></app-row-product-on-screen>
<app-row-product-on-screen productCode="POULETNAPO"></app-row-product-on-screen>
<app-row-product-on-screen productCode="POULETPOIVRE"></app-row-product-on-screen>



