* {
  box-sizing: border-box;
}

.row {
  display: flex;
  font-family: 'Arial';
  color: whitesmoke;
  font-size: 34px;
}

.numberColumn {
  flex: 5%;
  font-size: 70%;
}

.imageColumn {
  flex: 5%;
}

.productColumn {
  flex: 70%;
}

.normalPriceColumn {
  flex: 10%;
  text-align: center;
}

.geantPriceColumn {
  flex: 10%;
  font-size: 70%;
  text-align: center;
}

.description {
  font-family: 'Arial';
  font-size: 25px;
  color: cadetblue;
}
