<div class="bg">
	<marquee behavior="scroll" direction="down"  SCROLLDELAY=500 style="height: 400px">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Sandwiches Classiques, Traditions</th>
					<th class="normalCharPrice">
						<pre> Normal </pre>
					</th>
					<th class="smallCharPrice">
						<pre> Géant </pre>
					</th>
				</tr>

			</thead>
			<tbody>
				<tr id="dago" class="product">
					<td></td>
					<td>Dago</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Jambon, fromage, mayo, œufs, tomates, salade, cornichons</td>
				</tr>
				<tr id="dagopiquant" class="product">
					<td><img style="height: 8px" src="../../assets/images/epice.png"></td>
					<td>Dago piquant</td>
					<td class="normalCharPrice">3.3</td>
					<td class="smallCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Avec sauce piquante maison</td>
				</tr>
				<tr id="dagofume" class="product">
					<td></td>
					<td>Dago Fumé</td>
					<td class="normalCharPrice">3.8</td>
					<td class="smallCharPrice">5.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Avec Jambon d’ardenne</td>
				</tr>
				<tr id="usadoux" class="product">
					<td></td>
					<td>USA doux</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="usaepice" class="product">
					<td><img style="height: 8px" src="../../assets/images/epice.png"></td>
					<td>USA épicé</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="martino" class="product">
					<td></td>
					<td>Martino</td>
					<td class="normalCharPrice">3.5</td>
					<td class="smallCharPrice">5.4</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Américain maison épicé, tabasco, moutarde, oignons hachés,
						cornichons, œufs, tomates</td>
				</tr>
				<tr id="nutella" class="product">
					<td></td>
					<td>Nutella</td>
					<td class="normalCharPrice">2.8</td>
					<td class="smallCharPrice">4.2</td>
				</tr>
				<tr id="jambon" class="product">
					<td></td>
					<td>Jambon</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="jambonfromage" class="product">
					<td></td>
					<td>Jambon Fromage</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="jambonfume" class="product">
					<td></td>
					<td>Jambon Fumé</td>
					<td class="normalCharPrice">3.3</td>
					<td class="smallCharPrice">4.8</td>
				</tr>
				<tr id="saucisson" class="product">
					<td></td>
					<td>Saucisson</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="saladviand" class="product">
					<td></td>
					<td>Salade de viande</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="patecreme" class="product">
					<td></td>
					<td>Paté crême</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="chorizo" class="product">
					<td></td>
					<td>Chorizo</td>
					<td class="normalCharPrice">3.3</td>
					<td class="smallCharPrice">4.8</td>
				</tr>
				<tr id="fromage" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Fromage</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="philadelphia" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Philadelphia</td>
					<td class="normalCharPrice">3.3</td>
					<td class="smallCharPrice">4.8</td>
				</tr>

				<tr id="vegetarien" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Végétarien</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Crudités fraîches et sauce au choix</td>
				</tr>
				<tr id="vegetarien2" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Végétarien italien</td>
					<td class="normalCharPrice">3.5</td>
					<td class="smallCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Tomates séchées, copeaux de parmesan, huile d’olive, roquette,
						crudités.</td>
				</tr>
				<tr id="pita" class="product">
					<td><img style="height: 8px" src="../../assets/images/epice.png"></td>
					<td>Pita</td>
					<td class="normalCharPrice">3.5</td>
					<td class="smallCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Dés de porc grillés</td>
				</tr>
				<tr id="pitapiquant" class="product">
					<td></td>
					<td>Pita Piquant</td>
					<td class="normalCharPrice">3.5</td>
					<td class="smallCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Dés de porc grillés sauce piquante</td>
				</tr>
				<tr id="kebab" class="product">
					<td></td>
					<td>Kebab</td>
					<td class="normalCharPrice">3.5</td>
					<td class="smallCharPrice">5.4</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Dinde grillée, sauce à l’ail.</td>
				</tr>
				<tr id="kebabpiquant" class="product">
					<td><img style="height: 8px" src="../../assets/images/epice.png"></td>
					<td>Kebab Piquant</td>
					<td class="normalCharPrice">3.5</td>
					<td class="smallCharPrice">5.4</td>
				</tr>

				<tr>
					<td class="description" colspan="4">Dinde grillée, sauce à l’ail piquante Maison</td>
				</tr>

			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th></th>
					<th>Sandwiches côté poulet</th>
					<th class="normalCharPrice">
						<pre> Normal </pre>
					</th>
					<th class="smallCharPrice">
						<pre> Géant </pre>
					</th>
				</tr>

			</thead>
			<tbody>
				<tr id="pouletcurry" class="product">
					<td></td>
					<td>Poulet curry</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="pouletmayo" class="product">
					<td></td>
					<td>Poulet mayonnaise</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="pouletmexic" class="product">
					<td><img style="height: 8px" src="../../assets/images/epice.png"></td>
					<td>Poulet mexico</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="poulethawai" class="product">
					<td></td>
					<td>Poulet hawaï</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="pandalou" class="product">
					<td></td>
					<td>Poulet Andalou</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="pouletpiq" class="product">
					<td><img style="height: 8px" src="../../assets/images/epiceDouble.png"></td>
					<td>Poulet piquant</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>

			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Sandwiches côté mer</th>
					<th class="normalCharPrice">
						<pre> Normal </pre>
					</th>
					<th class="smallCharPrice">
						<pre> Géant </pre>
					</th>
				</tr>

			</thead>
			<tbody>
				<tr id="thonmayo" class="product">
					<td></td>
					<td>Thon mayo</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="thonpiq" class="product">
					<td><img style="height: 8px" src="../../assets/images/epice.png"></td>
					<td>Thon piquant</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="thoncock" class="product">
					<td></td>
					<td>Thon cocktail</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="thoncockpiq" class="product">
					<td></td>
					<td>Thon cocktail piquant</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="crabe" class="product">
					<td></td>
					<td>Crabe</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="malibu" class="product">
					<td></td>
					<td>Crabe malibu</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="crevetrose" class="product">
					<td></td>
					<td>Crevettes roses</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="crevetdiab" class="product">
					<td><img style="height: 8px" src="../../assets/images/epice.png"></td>
					<td>Crevettes diable</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>
				<tr id="crevetcock" class="product">
					<td></td>
					<td>Crevettes cocktail</td>
					<td class="normalCharPrice">3</td>
					<td class="smallCharPrice">4.4</td>
				</tr>

			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th></th>
					<th>Sandwiches Suggestions côté sud (1)</th>
					<th class="normalCharPrice">
						<pre> Normal </pre>
					</th>
					<th class="smallCharPrice">
						<pre> Géant </pre>
					</th>
				</tr>

			</thead>
			<tbody>
				<tr id="leparma1" class="product">
					<td></td>
					<td>Le Parma 1</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Jambon de Parme, tartare tomates, copeaux de parmesan, crème
						balsamique, roquette</td>
				</tr>
				<tr id="leparma2" class="product">
					<td></td>
					<td>Le Parma 2</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Jambon de Parme, tomatade, copeaux de parmesan, huile de
						truffes,
						roquette</td>
				</tr>
				<tr id="leparma3" class="product">
					<td></td>
					<td>Le Parma 3</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Jambon de Parme, tomatade, mozzarella fraîche, origan, basilic
						frais, huile d’olive, roquette</td>
				</tr>
				<tr id="parma4" class="product">
					<td></td>
					<td>Parma 4</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Jambon de Parme, tartare de tomates, mozzarella fraîche, origan,
						basilic frais, huile d’olive, roquette</td>
				</tr>
				<tr id="napoli" class="product">
					<td></td>
					<td>Napoli</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Jambon de Parme, tartare de tomates, copeaux de parmesan,
						câpres,
						olives noires, anchois, huile d'olive, ail, poivre, roquette</td>
				</tr>
				<tr id="clubparma" class="product">
					<td></td>
					<td>Club Parma</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Jambon de Parme, mozzarella fraîche, tomates fraîches, poivre,
						origan, basilic frais, huile d'olive, vinaigre balsamique, roquette</td>
				</tr>
				<tr id="philaparme" class="product">
					<td></td>
					<td>Philaparme</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Jambon de Parme, philadelphia, tomates fraîches, sel, poivre,
						huile
						d'olive</td>
				</tr>
				<tr id="jambonfume" class="product">
					<td></td>
					<td>Jambon Fumé</td>
					<td class="normalCharPrice">3.3</td>
					<td class="smallCharPrice">4.8</td>
				</tr>

			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th></th>
					<th>Sandwiches suggestions côté sud (2)</th>
					<th class="normalCharPrice">
						<pre> Normal </pre>
					</th>
					<th class="smallCharPrice">
						<pre> Géant </pre>
					</th>
				</tr>

			</thead>
			<tbody>
				<tr id="tomatmozza" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Tomates mozzarella</td>
					<td class="normalCharPrice">3.8</td>
					<td class="smallCharPrice">5.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Tomates fraîches, mozzarella fraîche, sel, poivre, origan, huile
						d'olive, vinaigre balsamique</td>
				</tr>
				<tr id="tomatmozza2" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Tomates mozzarella 2</td>
					<td class="normalCharPrice">4</td>
					<td class="smallCharPrice">6</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Tartare de tomates, mozzarella fraîche, olives noires, huile de
						Truffes, sel, poivre, origan, basilic frais</td>
				</tr>
				<tr id="mediterraneen" class="product">
					<td></td>
					<td>Méditerranéen</td>
					<td class="normalCharPrice">4</td>
					<td class="smallCharPrice">6</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Tartare de tomates, huile d'olive, ail, poivre, câpres, anchois,
						olives noires, copeaux de parmesan, roquette</td>
				</tr>
				<tr id="clubnicois" class="product">
					<td></td>
					<td>Club Niçois</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Thon naturel, huile d'olive, ail, poivre, câpres, anchois,
						olives
						noires, tomates</td>
				</tr>
				<tr id="clubfeta" class="product">
					<td></td>
					<td>Club Feta</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Feta (fromage de brebis), tomates, cocombres, olives noires,
						origan,
						sel, poivre, huile d’olive</td>
				</tr>
				<tr id="tartareitalien" class="product">
					<td></td>
					<td>Tartare Italien</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Tartare de bœuf, huiled'olive, moutarde, sel, poivre, tomates,
						copeaux de parmesan</td>
				</tr>
				<tr id="tartareitalien2" class="product">
					<td></td>
					<td>Tartare Italien 2</td>
					<td class="normalCharPrice">4.5</td>
					<td class="smallCharPrice">6.5</td>
				</tr>

				<tr>
					<td class="description" colspan="4">Tartare de bœuf, tartare de tomates, huile d'olive, sel, poivre,
						copeaux de parmesan</td>
				</tr>

			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th></th>
					<th>Sandwiches délices de chèvre</th>
					<th class="normalCharPrice">
						<pre> Normal </pre>
					</th>
					<th class="smallCharPrice">
						<pre> Géant </pre>
					</th>
				</tr>

			</thead>

			<tbody>
				<tr id="chevremiel" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Chèvre Miel</td>
					<td class="normalCharPrice">3.8</td>
					<td class="smallCharPrice">5.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Fromage frais de chèvre, miel, poivre, roquette</td>
				</tr>
				<tr id="chevreraisin" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Chèvre Raisin</td>
					<td class="normalCharPrice">3.8</td>
					<td class="smallCharPrice">5.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Fromage frais de chèvre, raisins secs, crème balsamique,
						roquette
					</td>
				</tr>
				<tr id="chevremielraisin" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Chèvre Miel Raisin</td>
					<td class="normalCharPrice">4</td>
					<td class="smallCharPrice">6</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Fromage frais de chèvre, raisins secs, miel, crème balsamique,
						roquette</td>
				</tr>
				<tr id="chevremielraisin" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Chèvre Miel Raisin</td>
					<td class="normalCharPrice">4</td>
					<td class="smallCharPrice">6</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Fromage frais de chèvre, raisins secs, miel, crème balsamique,
						roquette</td>
				</tr>
				<tr id="chevrebacon" class="product">
					<td></td>
					<td>Chèvre Bacon</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Fromage frais de chèvre, bacon fumé, poivre, huile vierge de
						noix
					</td>
				</tr>
				<tr id="chevresud" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Chèvre Sud</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>

				<tr>
					<td class="description" colspan="4">Fromage frais de chèvre, tomatade, olives, poivre, huile vierge
						de
						noix</td>
				</tr>

			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th></th>
					<th>Sandwiches suggestions côté mer</th>
					<th class="normalCharPrice">
						<pre> Normal </pre>
					</th>
					<th class="smallCharPrice">
						<pre> Géant </pre>
					</th>
				</tr>

			</thead>

			<tbody>
				<tr id="saumonfume" class="product">
					<td></td>
					<td>Saumon fumé</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Saumon fumé en tranches, beurre, oignons hachés, câpres</td>
				</tr>
				<tr id="nordique" class="product">
					<td></td>
					<td>Nordique</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Saumon fumé, fromage frais, poivre, aneth, oignons hachés</td>
				</tr>
				<tr id="scampiail" class="product">
					<td></td>
					<td>Scampi à l'ail</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Grosses crevettes tigrées dans une délicieuse sauce à l'ail</td>
				</tr>
				<tr id="scampipiq" class="product">
					<td><img style="height: 8px" src="../../assets/images/epice.png"></td>
					<td>Scampi à l'ail piquant</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Grosses crevettes tigrées dans une délicieuse sauce à l'ail
						pimentée
						maison</td>
				</tr>
				<tr id="crevetgrise" class="product">
					<td></td>
					<td>Crevettes grises</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>

				<tr>
					<td class="description" colspan="4">Crevettes grises fraîches préparées maison, œufs, tomates,
						salade
					</td>
				</tr>

			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th></th>
					<th>Sandwiches suggestions poulet</th>
					<th class="normalCharPrice">
						<pre> Normal </pre>
					</th>
					<th class="smallCharPrice">
						<pre> Géant </pre>
					</th>
				</tr>
			</thead>

			<tbody>
				<tr id="filetpoulet" class="product">
					<td><img style="height: 8px" src="../../assets/images/epice.png"></td>
					<td>Filet poulet</td>
					<td class="normalCharPrice">3.8</td>
					<td class="smallCharPrice">5.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Filet de poulet en tranches, sauce piquante maison, œufs,
						tomates,
						cornichons, carottes</td>
				</tr>
				<tr id="clubdago" class="product">
					<td><img style="height: 8px" src="../../assets/images/epice.png"></td>
					<td>Club dago</td>
					<td class="normalCharPrice">3.8</td>
					<td class="smallCharPrice">5.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Filet de poulet en tranches, fromage, œufs, tomates, cornichons,
						salade</td>
				</tr>
				<tr id="clubpouletgrille" class="product">
					<td></td>
					<td>Club Poulet Grillé</td>
					<td class="normalCharPrice">4</td>
					<td class="smallCharPrice">6</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Sauce au choix : poivre, andalouse, …</td>
				</tr>
				<tr id="clubexotique" class="product">
					<td></td>
					<td>Club Exotique</td>
					<td class="normalCharPrice">4</td>
					<td class="smallCharPrice">6</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Poulet grillé, ananas, tomates, salade, sauce cocktail maison
					</td>
				</tr>
				<tr id="clubitalienne" class="product">
					<td></td>
					<td>Club à l'Italienne</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Poulet grillé, tomatade, huile d'olive, copeaux de parmesan,
						roquette</td>
				</tr>
				<tr id="pcaesar" class="product">
					<td></td>
					<td>Poulet Caesar</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>

				<tr>
					<td class="description" colspan="4">Poulet grillé, sauce Caesar, copeaux de parmesan, roquette</td>
				</tr>

			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th></th>
					<th>Sandwiches suggestions ou autre envie</th>
					<th class="normalCharPrice">
						<pre> Normal </pre>
					</th>
					<th class="smallCharPrice">
						<pre> Géant </pre>
					</th>
				</tr>

			</thead>
			<tbody>
				<tr id="martino" class="product">
					<td></td>
					<td>Martino</td>
					<td class="normalCharPrice">3.5</td>
					<td class="smallCharPrice">5.4</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Américain maison épicé, tabasco, moutarde, oignons hachés,
						cornichons, œufs, tomates</td>
				</tr>
				<tr id="rotimoutarde" class="product">
					<td></td>
					<td>Roti moutarde</td>
					<td class="normalCharPrice">4</td>
					<td class="smallCharPrice">6</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Dés de porc grillés en sauce</td>
				</tr>
				<tr id="clubboulette" class="product">
					<td></td>
					<td>Club boulette</td>
					<td class="normalCharPrice">3.8</td>
					<td class="smallCharPrice">5.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Boulette traiteur froide tranchée, œufs, tomates, cornichons,
						sauce
						au choix</td>
				</tr>
				<tr id="omelette" class="product">
					<td></td>
					<td>Omelette lardons</td>
					<td class="normalCharPrice">3.8</td>
					<td class="smallCharPrice">5.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Omelette, lardons fumés, oignons hachés, sel, poivre, œufs cuits
						durs, tomates</td>
				</tr>
				<tr id="rosbif" class="product">
					<td></td>
					<td>Rosbif</td>
					<td class="normalCharPrice">4.2</td>
					<td class="smallCharPrice">6.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Rôti de bœuf en tranche, sauce et crudités au choix</td>
				</tr>
				<tr id="rosbifparmesan" class="product">
					<td></td>
					<td>Rosbif Parmesan</td>
					<td class="normalCharPrice">4.5</td>
					<td class="smallCharPrice">6.5</td>
				</tr>

				<tr>
					<td class="description" colspan="4">Tranche de Rosbif, copeaux de parmesan, tomates, huile d'olive,
						sel,
						poivre</td>
				</tr>

			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th></th>
					<th>Panini - Sandwiches chauds préparés maison</th>
					<th class="normalCharPrice">
						<pre> Prix </pre>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr id="pancroque" class="product">
					<td></td>
					<td>Panini croque</td>
					<td class="normalCharPrice">3.5</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Jambon, mozzarella, sel, poivre, origan, huile d'olive</td>
				</tr>
				<tr id="panhawai" class="product">
					<td></td>
					<td>Panini hawai</td>
					<td class="normalCharPrice">3.5</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Jambon, mozzarella, ananas, sel, poivre, origan, huile d'olive
					</td>
				</tr>
				<tr id="panromana" class="product">
					<td></td>
					<td>Panini romana</td>
					<td class="normalCharPrice">3.5</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Tomate, mozzarella, ail, huile d'olive, olives noires</td>
				</tr>
				<tr id="panbolo" class="product">
					<td></td>
					<td>Panini bolognaise</td>
					<td class="normalCharPrice">3.5</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Sauce bolognaise, emmenthal</td>
				</tr>
				<tr id="panbolopiq" class="product">
					<td></td>
					<td>Panini bolognaise piq.</td>
					<td class="normalCharPrice">4</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Sauce bolognaise, emmenthal, piments</td>
				</tr>
				<tr id="pan4from" class="product">
					<td></td>
					<td>Panini 4 fromages</td>
					<td class="normalCharPrice">4</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Tomate, mozzarella, pecorino, provolone, emmenthal, huile
						d'olive
					</td>
				</tr>
				<tr id="panVegetarien" class="product">
					<td></td>
					<td>Panini Végétarien</td>
					<td class="normalCharPrice">4</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Tomates séchées, copeaux de parmesan, huile d’olive, roquette,
						crudités.</td>
				</tr>
				<tr id="pancheezeburg" class="product">
					<td></td>
					<td>Panini cheeze burger</td>
					<td class="normalCharPrice">4.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Viande hachée pur bœuf préparée maison légèrement piquante,
						emmenthal</td>
				</tr>
				<tr id="panpoulet" class="product">
					<td></td>
					<td>Panini poulet</td>
					<td class="normalCharPrice">4.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Tomate, mozzarella, poulet grillé, épices, huile d'olive</td>
				</tr>
				<tr id="panexotique" class="product">
					<td></td>
					<td>Panini exotique</td>
					<td class="normalCharPrice">4.2</td>
				</tr>

				<tr>
					<td class="description" colspan="4">Tomate, mozzarella, poulet, ananas, épices, huile d'olive</td>
				</tr>

				<tr id="panjambon" class="product">
					<td></td>
					<td>Panini jambon</td>
					<td class="normalCharPrice">4</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Tomate, mozzarella, jambon blanc, épices, huile d'olive</td>
				</tr>
				<tr id="panchorizo" class="product">
					<td><img style="height: 8px" src="../../assets/images/epice.png"></td>
					<td>Panini chorizo</td>
					<td class="normalCharPrice">4</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Tomate, mozzarella, chorizo piquant, épices, huile d'olive</td>
				</tr>
				<tr id="pantomatemozza" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Panini tomatte mozza.</td>
					<td class="normalCharPrice">4</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Tomates fraîches, mozzarella fraîche, sel, poivre, origan,
						vinaigre
						balsamique, huile d'olive</td>
				</tr>
				<tr id="panchinois" class="product">
					<td><img style="height: 8px" src="../../assets/images/epice.png"></td>
					<td>Panini chinois</td>
					<td class="normalCharPrice">4.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Poulet grillé, sauce aigre-douce piquante, ananas</td>
				</tr>
				<tr id="pannordique" class="product">
					<td></td>
					<td>Panini nordique</td>
					<td class="normalCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Fromage frais, saumon fumé, aneth, poivre</td>
				</tr>
				<tr id="panthon" class="product">
					<td></td>
					<td>Panini thon</td>
					<td class="normalCharPrice">4.5</td>
				</tr>
				<tr>
					<td class="description" colspan="4">tomate, mozzarella, thon naturel, olives noires, épices, huile
						d'olive</td>
				</tr>
				<tr id="panitalien" class="product">
					<td></td>
					<td>Panini italien</td>
					<td class="normalCharPrice">4.5</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Sauce tomate, mozzarella, jambon italien, copeaux de parmesan,
						origan, huile d'olive</td>
				</tr>
				<tr id="panchevremiel" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Panini chèvre miel</td>
					<td class="normalCharPrice">4.5</td>
				</tr>

				<tr id="panchevreraisin" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Panini chèvre raisin</td>
					<td class="normalCharPrice">4.5</td>
				</tr>
				<tr>
					<td class="description" colspan="4">chèvre frais, raisins secs, crème balsamique</td>
				</tr>
				<tr id="panchevrebacon" class="product">
					<td></td>
					<td>Panini chèvre bacon</td>
					<td class="normalCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">chèvre frais, bacon, huile de noix, poivre</td>
				</tr>
				<tr id="panclubparma" class="product">
					<td></td>
					<td>PANCLUBPARMA</td>
				</tr>
				<tr id="panparma1" class="product">
					<td></td>
					<td>Panini parma 1</td>
					<td class="normalCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Jambon de Parme, tartare tomates, copeaux de parmesan, crème
						balsamique, roquette</td>
				</tr>
				<tr id="panparma2" class="product">
					<td></td>
					<td>Panini parma 2</td>
					<td class="normalCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Jambon de Parme, tomatade, copeaux de parmesan, huile de
						truffes,
						roquette</td>
				</tr>
				<tr id="panparma3" class="product">
					<td></td>
					<td>Panini parma 3</td>
					<td class="normalCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Jambon de Parme, tomatade, mozzarella fraîche, origan, basilic
						frais, huile d’olive, roquette</td>
				</tr>
				<tr id="panparma4" class="product">
					<td></td>
					<td>Panini parma 4</td>
					<td class="normalCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Jambon de Parme, tartare de tomates, mozzarella fraîche, origan,
						basilic frais, huile d’olive, roquette</td>
				</tr>
				<tr id="pannapoli" class="product">
					<td></td>
					<td>Panini napoli</td>
					<td class="normalCharPrice">4.8</td>
				</tr>

				<tr>
					<td class="description" colspan="4">Jambon de Parme, tartare de tomates, copeaux de parmesan,
						câpres,
						olives noires, anchois, huile d’olive, ail, poivre, roquette</td>
				</tr>

			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th></th>
					<th>Salades maison</th>
					<th class="normalCharPrice">
						<pre> Prix </pre>
					</th>
				</tr>

			</thead>

			<tbody>
				<tr id="salpelemele" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Salade pêle mêle</td>
					<td class="normalCharPrice">3.5</td>
				</tr>
				<tr>
					<td class="description" colspan="4">mélange de salade composée, œufs, tomates</td>
				</tr>
				<tr id="sal7crudites" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Salades 7 crudités</td>
					<td class="normalCharPrice">3.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">salade composée, carottes, chou blanc, tom, concombre</td>
				</tr>
				<tr id="salprintaniere" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Salade printanière</td>
					<td class="normalCharPrice">4.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">maïs, cubes d’emmenthal, salade composée, carottes, chou blanc,
						œufs, tomates</td>
				</tr>
				<tr id="salpomterre" class="product">
					<td></td>
					<td>Salade pommes terre</td>
					<td class="normalCharPrice">4.2</td>
				</tr>
				<tr>
					<td class="description" colspan="4">pommes de terre, lardons, sauce moutardée maison, sal.comp,
						carottes, chou blanc, œufs, tomates</td>
				</tr>
				<tr id="salfermiere" class="product">
					<td></td>
					<td>Salade fermière</td>
					<td class="normalCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">petits lardons, jambon braisé, emmenthal, sal.comp, carottes,
						chou
						blanc, œufs, tomates</td>
				</tr>
				<tr id="saltaboule" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Salade taboulé</td>
					<td class="normalCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">préparation maison de taboulé et raisins secs, sal.comp,
						carottes,
						chou blanc, œufs, tomates</td>
				</tr>
				<tr id="salthon" class="product">
					<td></td>
					<td>Salade thon</td>
					<td class="normalCharPrice">5.4</td>
				</tr>

				<tr>
					<td class="description" colspan="4">thon au naturel, maïs, sal.comp, carottes, chou blanc, œufs,
						tomates
					</td>
				</tr>

				<tr id="salthonpeche" class="product">
					<td></td>
					<td>Salade au Thon Pêche</td>
					<td class="normalCharPrice">5.4</td>
				</tr>
				<tr>
					<td class="description" colspan="4">thon au naturel ou préparé, pêches, maïs, sal.comp, carottes,
						chou
						blanc, œufs, tomates</td>
				</tr>
				<tr id="salpatejamb" class="product">
					<td></td>
					<td>Salade pates jambon</td>
					<td class="normalCharPrice">4.6</td>
				</tr>
				<tr>
					<td class="description" colspan="4">mélange de pâtes-jambon dans une sauce préparée maison,
						sal.comp,
						carottes, chou blanc, œufs, tomates</td>
				</tr>
				<tr id="salpatfruitmer" class="product">
					<td></td>
					<td>Salade pates fruits mer</td>
					<td class="normalCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">mélange de pâtes, crabe et crevettes roses dans une sauce
						cocktail
						au crabe préparée maison, sal.comp, carottes, chou blanc, œufs, tomates</td>
				</tr>
				<tr id="salcrevrose" class="product">
					<td></td>
					<td>Salade crevettes roses</td>
					<td class="normalCharPrice">5.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">crevettes roses, maïs, sal.comp, carottes, chou blanc, œufs,
						tomates
					</td>
				</tr>
				<tr id="salmozza" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Salade mozzarella</td>
					<td class="normalCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">mozzarella fraîche, concombre, olives noires, basilic frais ou
						origan, huile d’olive , sal.comp, carottes, chou blanc, œufs, tomates</td>
				</tr>
				<tr id="salgrec" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Salade grecque</td>
					<td class="normalCharPrice">4.8</td>
				</tr>

				<tr>
					<td class="description" colspan="4">feta fromage de brebis, concombre, olives noires, origan, huile
						d’olive, sal.comp, carottes, chou blanc, œufs, tomates, épices</td>
				</tr>

				<tr id="salchevremiel" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Salade chèvre miel</td>
					<td class="normalCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">chèvre frais, raisins secs, miel, sal.comp, carottes, chou
						blanc,
						œufs, tomates</td>
				</tr>
				<tr id="salchevreraisin" class="product">
					<td><img style="height: 8px" src="../../assets/images/vegetarien.png"></td>
					<td>Salade chèvre raisin</td>
					<td class="normalCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">chèvre frais, raisins secs, crème balsamique, sal.comp,
						carottes,
						chou blanc, œufs, tomates</td>
				</tr>
				<tr id="sallouisiane" class="product">
					<td></td>
					<td>Salade Louisiane</td>
					<td class="normalCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Dés de poulet grillés, maïs, sal.comp, carottes, chou blanc,
						œufs,
						tomates</td>
				</tr>
				<tr id="salhaway" class="product">
					<td></td>
					<td>Salade hawaienne</td>
					<td class="normalCharPrice">4.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">Dés de poulet grillés, maïs, ananas, sal.comp, carottes, chou
						blanc,
						œufs, tomates</td>
				</tr>
				<tr id="salgourm" class="product">
					<td></td>
					<td>Salade gourmande</td>
					<td class="normalCharPrice">5.4</td>
				</tr>

				<tr>
					<td class="description" colspan="4">crabe, crevettes roses, thon au naturel ,sal.comp, carottes,
						chou
						blanc, œufs, tomates</td>
				</tr>

			</tbody>
		</table>

		<table>
			<thead>
				<tr>
					<th></th>
					<th>Assiettes gourmandes</th>
					<th class="normalCharPrice">
						<pre> Prix </pre>
					</th>
				</tr>
			</thead>

			<tbody>
				<tr id="saltaboulepoulet" class="product">
					<td></td>
					<td>Salade Taboulé Poulet</td>
					<td class="normalCharPrice">5.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">préparation maison de taboulé aux légumes et raisins secs, dés
						de
						poulet grillés, lit de salade</td>
				</tr>
				<tr id="salchevrebacon" class="product">
					<td></td>
					<td>Salade Chèvre Bacon</td>
					<td class="normalCharPrice">5.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">fromage frais de chèvre, bacon fumé, huile de noix, poivre, lit
						de
						salade</td>
				</tr>
				<tr id="salitalienne" class="product">
					<td></td>
					<td>Salade Italienne</td>
					<td class="normalCharPrice">5.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">jambon de Parme, copeaux de parmesan, crème balsamique,
						roquette,
						huile d’olive, lit de salade</td>
				</tr>
				<tr id="salsaumfume" class="product">
					<td></td>
					<td>Salade saumon fumé</td>
					<td class="normalCharPrice">5.8</td>
				</tr>
				<tr>
					<td class="description" colspan="4">saumon fumé, câpres, oignons frais, aneth, lit de salade</td>
				</tr>
				<tr id="salparma" class="product">
					<td></td>
					<td>Salade Parma</td>
					<td class="normalCharPrice">5.8</td>
				</tr>

				<tr>
					<td class="description" colspan="4">jambon de Parme, mozzarella fraîche, poivre, origan ou basilic
						frais, huile d’olive, lit de salade</td>
				</tr>

			</tbody>
		</table>

		<footer>

			<div class="documentPart">
				<div class="bloc">
					<div class="footer">
						<ul>
							<li class="legend"><img style="height: 8px" src="../../assets/images/epice.png">Epicé <img
									src="../../assets/images/epiceDouble.png">Fort épicé <img
									src="../../assets/images/vegetarien.png">Végétarien</li>
						</ul>
					</div>
					<details>
						<p>
							Copyright © <a
								href="http://www.dagoarlon.be/dagoSandwichArlonEmailWebmaster.html">Panidel</a>
							-2015.
						</p>
					</details>
				</div>
			</div>
			<div class="documentPart">
				<div class="bloc" align="center">
					<img src="../../assets/images/edenred.png" alt="chèque repas edenred" hspace="5"
						style="height: 30px; border: 5px;"><img style="height: 8px"
						src="../../assets/images/monizze.png" alt="chèque repas monizze" hspace="5"
						style="height: 30px; border: 5px;"><img src="../../assets/images/visa.jpg" alt="visa" hspace="5"
						style="height: 30px; border: 5px;"><img src="../../assets/images/bancontact.jpg"
						alt="bancontact" hspace="5" style="height: 30px; border: 5px;"><img style="height: 8px"
						src="../../assets/images/maestro.gif" alt="maestro" hspace="5"
						style="height: 30px; border: 5px;"><img style="height: 8px"
						src="../../assets/images/mastercard.gif" alt="mastercard" hspace="5"
						style="height: 30px; border: 5px;"><img src="../../assets/images/americanExpress.png"
						alt="american express" hspace="5" style="height: 30px; border: 5px;">
				</div>
			</div>
		</footer>
	</marquee>
</div>