* {
  box-sizing: border-box;
}

.row {
  display: flex;
  font-family: 'Arial';
  background-color: antiquewhite;
  color: brown;
  font-size: 12px;
}

.titleColumn {
  flex: 80%;
}

.normalPriceColumn {
  flex: 10%;
  text-align: center;
}

.geantPriceColumn {
  flex: 10%;
  font-size: 70%;
  text-align: center;
}